.elements {
  width: 100%;
  max-width: 880px;
  padding: 55px 0 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));

  row-gap: 20px;
  column-gap: 17px;
  line-height: 0;
}

@media screen and (max-width: 920px) {
  .elements {
    width: calc(100% - 38px);
    max-width: none;
  }
}

@media screen and (max-width: 600px) {
  .elements {
    padding: 38px 0 0;
  }
}