.header__logo {
  width: 142px;
  height: 33px;
  margin: 45px 0 41px 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../../images/header-logo.svg);
}

@media screen and (max-width: 900px) {
  .header__logo {
    margin: 28px 0 31px 27px;
  }
}

@media screen and (max-width: 550px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }
}