.profile {
  display: flex;
  width: 880px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

@media screen and (max-width: 920px) {
  .profile {
    width: calc(100vw - 38px);
  }
}

@media screen and (max-width: 600px) {
  .profile {
    flex-direction: column;
    justify-content: center;
  }
}