.auth__login-link {
  all: unset;
  margin: 15px auto 0;
  color: #FFFFFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.auth__login-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 550px) {
  .auth__login-link {
    margin: 20px auto 0;
  }
}