.popup__close-btn_type_picture {
  left: 100%;
  bottom: 100%;
  transform: translateX(25%) translateY(-25%);
}

@media screen and (max-width: 550px) { 
  .popup__close-btn_type_picture { 
    transform: translateX(-100%) translateY(0); 
  } 
}