.popup__container_type_info {
  padding: 34px 36px 37px;
  background-color: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 430px;
  height: 330px;
  box-sizing: border-box;
}

@media screen and (max-width: 550px) {
  .popup__container_type_info {
    width: 280px;
    height: 308px;
    padding: 25px 18px 25px;
  }
}